    <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
    <meta charset="utf-8">
    <meta name="robots" content="noindex">

<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">      
            <h1>Welcome back </h1>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">      
            <h1>Debubble Product<br> Consulting</h1>
            <p>Its time to stop developing your product in a bubble..</p>
            <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Product Reviews</h2>
                <p>When working with a product for some time, it is often useful to get an e=outside opinion on your work. Debubbe provides experts in UI, market fit and UX to assess your product and provide a report to allow you to make the imporvements that can make the difference between a successful business and a struggling one. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>New Product Delivery</h2>
                <p>Often opportunities to launch a new product come around due to a gap in the market and therefore speed to market is imperative. Debubble has launched a number of mobile, web and tablet based products in a number of environemnts and is able to cut your time to market and the disruption to your existing teams by leading your product definition and delivery team. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Interim Roles</h2>
                <p>With such huge demand for product managers in and around London, it can be hugely difficult to find the right person to fill your product roles. Having a few years experience as a product manager no longer qualifies an aplicant for the role. They have to understand your customer and get what you are trying to achieve as a business. This combined with such high demand for product managers means that your business can be held back while working through the recruitment process. At Debubble we are able to fill in during the interim period and even assist with the recruitment process. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></
            </div>
        </div>
    </div>
<div class="container_padding">
     <div class="row">
            <div class="col-md-6">
                <h2>Best fit product delivery </h2>
                <p>As product management is a comparatively recent addition to the work environment, there is still significant disagreement as to how it should be carried out. One of the greatest challenges that businesses come across is the butting of heads of product managers attempting to push text book best practice on a business and business leaders, although understanding that a product manager is needed, struggling to understand how it can be right for their business. The reality is that there is no way that the best ways of working of a start-up can also be right for a FTSE 100 firm and visa versa. Similarly, successful aproaches to product management in an editorial or publishing organisation are unlikely to work in a low user number ecommerce environment. Best fit product delivery is about understnding the business, it's needs and what makes it a success, and building a product delivery process around that.  </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-6">
                <h2>Longer term contracts</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>

         </div>
    </div>
 </div>

<% end %>